html {
  height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: white;
  background-size: 100%;
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
}

#day_forecast {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid gray;
  height: 60vh;
  margin: 0 auto;
  border-radius: 20px;
}

.temperature {
  font-weight: 100;
}

.icon {
  height: 100px;
  width: 150px;
}

.forecastHeadline, .temperature, .date {
  font-size: 25px;
}

#day1, #day2, #day3, #day4 {
  border-right: solid 1px gray;
}