html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: white;
  background-size: 100%;
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

input {
  border: solid 2px;
  width: 20%;
  padding: 5px 10px 5px;
  border-radius: 10px;
}

button {
  border: solid 1px;
  padding: 5px;
  border-radius: 9px;
}

header {
  display: flex;
  flex-direction: column;
}

#day_forecast {
  display: none;
  row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid gray;
  height: 60vh;
  border-radius: 20px;
}

#weather_summary {
  display: none;
}

.temperature {
  font-weight: 100;
}

.icon {
  height: 100px;
  width: 175px;
}

.forecastHeadline, .temperature, .date {
  font-size: 30px;
}

#day1, #day2, #day3, #day4 {
  border-right: solid 1px gray;
}